body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div .nav {
    background-color: #009CCF;
    height: 28px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 4px;
    overflow: hidden;
}

    ul li {
        float: left;
        border-right: 1px solid gray;
    }

        ul li a {
            color: black;
            text-align: center;
            padding: 16px;
        }

li a:hover {
    text-decoration: none;
}

.container-fluid#home.active{
    filter: blur(0.8px);
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

.ui-dialog-titlebar span.ui-dialog-title {
    width: 80%;
}

.ui-dialog-titlebar .ui-dialog-titlebar-close{
    height: 20px;
    width: 20px;
    margin-top: 5px;
    padding: 0rem;
}

.ui-dialog-titlebar .ui-dialog-titlebar-min,
.ui-dialog-titlebar .ui-dialog-titlebar-max,
.ui-dialog-titlebar .ui-dialog-titlebar-hide {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 0em;
    margin: 5px 0 0 0;
}


.ui-dialog-titlebar .ui-dialog-titlebar-max {
    right: 1.60em;
}

.ui-dialog-titlebar .ui-dialog-titlebar-min {
    right: 3.25em;
}

.ui-dialog-titlebar .ui-dialog-titlebar-hide {
    right: 4.95em;
}