tr:hover {
    background-color: #55BDDF;
}


label {
    font-weight: 600;
}


.bg {
    background-color: #009CCF;
}

.ui-dialog-titlebar {
    margin-top: 50%;
    padding-top: 1px; 
}

.ui-widget-header, .ui-state-default {
    background: #009CCF;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-dialog-title {
    
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #009CCF;
}

.ui-draggable-handle {
    text-align: center;
}

.ui-button {
    float: right;
}

.error {
    color: red;
}

button.ui-button:hover {
    background-color: #E81123;
}

button.btnCancel:hover {
    background-color: #E81123;
}

button.btnSave:hover{
    background-color: blue; 
    color: white;
}

button.btnUpdate:hover {
    background-color: springgreen;
    color: white;
}

button.ui-dialog-titlebar-zoomin:hover {
    background-color: #00688A;
}

button.ui-dialog-titlebar-zomout:hover {
    background-color: #00688A;
}

button.ui-dialog-titlebar-hide:hover {
    background-color: #00688A;
}

button.ui-dialog-titlebar-hide:hover {
    background-color: #00688A;
}